:root {
  --basic-color: #2e2f42;
  --minor-color: #434455;
  --white-color: #ffffff;
  --logo-color: #4d5ae5;
  --btn-background-color: #f4f4fd;
  --btn-hover-color: #404bbf;
  --accent-color: #e7e9fc;
  --subtle-text: #8e8f99;
  --bg-success: #31d0aa;
}

/* Основний колір #2E2F42; */
/* Другорядний колір #434455; */
/* Білий колір #FFFFFF; */
/* Синій лого #4D5AE5; */
/* Акцент #e7e9fc;*/
/* Бек #f4f4fd; */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--basic-color);
  font-size: 16px;
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.no-scroll {
  overflow: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.padding {
  padding: 32px 16px;
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
.padding-team {
  padding: 32px 16px;
}
/* Стилізація ./index.html */

/* Header--------- */

.main-header {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--accent-color);
  width: 100%;
}
.header-navigation {
  margin-right: auto;
}
.header-logo > span {
  color: var(--logo-color);
}
.header-logo {
  font-family: "Raleway";
  color: var(--basic-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-list {
  display: none;
}
.header-address-list {
  display: none;
}

.menu-open {
  border-color: transparent;
  background-color: transparent;
}
.menu-open::before {
  display: block;
  content: "";
  width: 32px;
  height: 22px;
  background-image: url(../images/charm_menu-hamburger.svg);
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: var(--white-color);
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.mob-menu > .container {
  max-width: 367px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 16px;
  padding: 0;
  font-size: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover {
  background-color: var(--btn-hover-color);
  color: var(--white-color);
}
.modal-icon {
}
.mob-menu-list {
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--basic-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:hover,
.mob-menu-link:focus {
  color: var(--btn-hover-color);
}
.link {
}
.carrent {
}
.text-color {
}
.mob-menu-address {
}
.mob-menu-address-list {
  margin-bottom: 48px;
}
.mob-menu-address-tel-item {
  margin-bottom: 40px;
}
.mob-menu-address-tel-link {
  font-weight: 600;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--logo-color);
  font-style: normal;
  white-space: nowrap;
}
.mob-menu-address-item {
}
.mob-menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--minor-color);
  font-style: normal;
}
.mob-menu-icon-list {
  display: flex;
  justify-content: center;
  gap: 56px;
}
/* Hero-------- */

.section-hero {
  background-color: var(--basic-color);
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  max-width: 480px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mob2x.jpg);
  }
}
.section-hero-title {
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 72px;
  text-align: center;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
}
.section-hero-btn {
  border: none;
  padding: 16px 32px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-hero-btn:hover,
.section-hero-btn:focus {
  background-color: var(--btn-hover-color);
  color: var(--white-color);
}

/* Features---------- */

.section-features {
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-features-title {
}

.section-features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.section-features-item {
  width: 100%;
}

.section-features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--basic-color);
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.section-features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}

.features-icon {
}

/* Doing---------- */

.section-doing {
  display: none;
}

/* Team-------- */
.section-team > .container {
  max-width: 290px;
}
.section-team {
  background-color: var(--btn-background-color);
  padding-top: 96px;
  padding-bottom: 128px;
}

.section-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  margin-bottom: 72px;
}
.section-team-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 72px;
}
.section-team-item {
  background-color: var(--white-color);
  width: 100%;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section-team-suntitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  margin-bottom: 8px;
}
.section-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--minor-color);
  margin-bottom: 8px;
}

.section-team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-team-icon-item {
  width: 40px;
  height: 40px;
}
.section-team-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--logo-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team-icon-link:hover,
.section-team-icon-link:focus {
  background-color: var(--btn-hover-color);
}

/* Customers------ */

.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-customers-title {
  color: var(--basic-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.section-customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}
.section-customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.section-customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-customers-link:is(:hover, :focus) {
  border-color: var(--btn-hover-color);
  color: var(--btn-hover-color);
}

/* .section-customers-link:is(:hover, :focus) {
  border-color: var(--btn-hover-color);
} */

/* .section-customers-link:is(:hover, :focus) .section-customers-icon {
  fill: var(--btn-hover-color);
} */

.section-customers-icon {
  fill: currentColor;
}

/* FOOTER------------ */

.footer {
  background-color: var(--basic-color);
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-logo-link > span {
  color: var(--logo-color);
}
.footer-logo-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--btn-background-color);
  margin-bottom: 16px;
  display: inline-block;
  text-transform: uppercase;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  max-width: 264px;
  padding-left: 0;
  text-align: start;
  margin: auto;
}

/* Social--------- */

.social {
  margin-top: 72px;
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white-color);
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:is(:hover, :focus) {
  background-color: var(--bg-success);
}

.subscribe-footer {
  margin-top: 72px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-label {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
  padding: 0;
}

.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: calc(24 / 12);
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 16px;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  height: 40px;
  margin-left: 24px;
}

.subscribe-button:is(:hover, :focus) {
  background-color: var(--btn-hover-color);
  color: var(--white-color);
}

.button-svg {
  margin-left: 16px;
}

/* Стилізація ./portfolio.html */

.portfolio {
  padding: 48px 0 48px;
  width: 100%;
}
/* .portfolio > .container {
  max-width: 426px;
} */

/* BTN--------- */

.section-btn {
}
.btn {
  padding: 12px 24px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--btn-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
}

.btn-item:last-child {
  margin-right: 0;
}
.btn:hover,
.btn:focus {
  background-color: var(--btn-hover-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  gap: 24px;
}

/* Portfolio----------- */
.container .portfolio-item {
  width: 100%;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-link {
  display: block;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .animation-text,
.portfolio-link:focus .animation-text {
  transform: translateY(0);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.animation {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.animation-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: calc(24 / 16);
  color: var(--btn-background-color);
  background-color: var(--logo-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}

/* MODAL------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 320px;
  min-height: 576px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  font-size: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover {
  background-color: var(--btn-hover-color);
  color: var(--white-color);
}

.modal-title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.input-modal {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 36px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:is(:hover, :focus) {
  /* border: 1px solid var(--logo-color); */
  border-radius: 4px;
  border-color: var(--btn-hover-color);
}

.input-wrap {
  position: relative;
}

.icon-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus + .icon-form {
  fill: var(--btn-hover-color);
}

.text-modal-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-modal-comment:is(:hover, :focus) {
  /* border: 1px solid var(--logo-color); */
  border-radius: 4px;
  border-color: var(--btn-hover-color);
}
.label-modal {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  margin-bottom: 4px;
}
textarea {
  resize: none;
  outline: transparent;
}
.modal-form-policy {
}
.textarea {
}

.modal-form-policy {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 16px;
  margin-bottom: 24px;
}

.policy {
  display: flex;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #757575;
}

.policy-text {
}

.policy span {
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .policy span {
  border: none;
  background-color: var(--btn-hover-color);
  fill: var(--btn-background-color);
}

.pr-policy {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: var(--btn-hover-color);
}

.submit-btn {
  display: block;
  margin: 0 auto;
  width: 170px;
  border: none;
  padding: 16px 32px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--btn-hover-color);
  color: var(--white-color);
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
  .modal {
    min-width: 408px;
    min-height: 586px;
  }
  .portfolio-item {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .header-list {
    display: flex;
    margin-left: 120px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .header-item {
    position: relative;
    margin-right: 40px;
  }

  .header-item:last-child {
    margin: 0;
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--btn-hover-color);
  }
  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--basic-color);
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .carrent::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    bottom: -1px;
    left: 0;
    background-color: var(--btn-hover-color);
  }

  .header-link.text-color {
    color: var(--btn-hover-color);
  }

  .mob-menu {
    display: none;
  }

  .menu-open {
    display: none;
  }
  /* Adressss */

  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--btn-hover-color);
  }
  .header-address-link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: var(--minor-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-address-list {
    padding-top: 24px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .section-features-item {
    width: calc((100% - 24px) / 2);
  }
  .section-features-list {
    gap: 72px 24px;
  }
  .section-features-subtitle {
    justify-content: flex-start;
  }

  .section-hero {
    background-color: var(--basic-color);
    padding-top: 112px;
    padding-bottom: 108px;
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tab2x.jpg);
    }
  }

  .section-hero-title {
    font-size: 56px;
    line-height: calc(60 / 56);
    min-width: 496px;
    margin-bottom: 40px;
  }
  .section-team > .container {
    max-width: 582px;
  }
  .section-team-list {
    gap: 64px 24px;
  }

  .section-team-item {
    width: calc((100% - 24px) / 2);
  }
  .section-customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .section-customers > .container {
    max-width: 582px;
  }
  .section-customers-list {
    display: flex;
    gap: 72px 24px;
  }
  .section-customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
  .footer {
    text-align: start;
  }
  .footer > .container {
    max-width: 582px;
  }
  .footer-tablet {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-footer {
    margin-top: 72px;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .subscribe-input {
    margin-bottom: 0;
    max-width: 264px;
  }
  .footer-text {
    margin: 0;
  }
  .social {
    margin-top: 0;
  }
  .portfolio {
    padding: 64px 0 96px;
  }
  .btn-list {
    justify-content: center;
    margin-bottom: 72px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-item {
    max-width: 356px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .header-list {
    margin-left: 76px;
  }

  .portfolio-item {
    max-width: 360px;
  }

  .header-address {
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--btn-hover-color);
  }
  .header-address-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--minor-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    flex-direction: row;
    padding: 0;
  }

  .header-address-item {
    margin-right: 40px;
  }

  .header-address-item:last-child {
    margin: 0;
  }

  .section-hero {
    background-color: var(--basic-color);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-des.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-des2x.jpg);
    }
  }

  .section-hero-title {
    margin-bottom: 48px;
  }

  .section-features-item {
    width: calc((100% - 72px) / 4);
  }
  .section-features-subtitle {
    justify-content: flex-start;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
  }
  .section-features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
  }
  .section-features-item::before {
    display: block;
    content: "";
    height: 112px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--btn-background-color);
    border-radius: 4px;
  }

  .section-features-item:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
  }

  .section-features-item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }

  .section-features-item:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
  }

  .section-features-item:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
  }
  .section-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-doing {
    padding-bottom: 120px;
    display: block;
  }
  .section-doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--basic-color);
    margin-bottom: 72px;
  }
  .section-doing-list {
    display: flex;
    gap: 24px;
  }
  .section-doing-item {
    width: calc((100% - 48px) / 3);
  }
  .section-doing-img {
  }

  .section-team > .container {
    max-width: 1158px;
  }

  .section-team-list {
    gap: 24px;
  }

  .section-team-item {
    width: calc((100% - 72px) / 4);
  }

  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-customers > .container {
    max-width: 1158px;
  }

  .section-customers-list {
    display: flex;
    gap: 24px;
  }
  .section-customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer > .container {
    max-width: 1158px;
  }
  .footer-list {
    display: flex;
  }
  .social {
    margin-left: 120px;
  }
  .subscribe-footer {
    margin-left: auto;
    margin-top: 0;
  }
  .subscribe-input {
    min-width: 264px;
  }
  .portfolio {
    padding: 96px 0 120px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 24px;
  }
  .portfolio-link {
    max-width: 356px;
  }
}
